@import "tailwindcss";



body{
    font-family: sans-serif;
    font-size: 16px;
}

/* Largura da barra */
::-webkit-scrollbar {
    width: 18px;
  }
  
  /* Fundo da barra (trilho) */
  ::-webkit-scrollbar-track {
    background: #f0f0f0;
  }
  
  /* Parte que se move (o "polegar") */
  ::-webkit-scrollbar-thumb {
    background-color: #086632;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
  }
  
  /* Opcional: no hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #0b7d4b;
  }
  